.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

img {
    width: 100px;
}

.age {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50px;
}

.identity {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 300px;
}

.input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.citation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 30px;
    border: 1px solid black;
    color: blue;
    font-size: 24px;
}